{% extends "parent.html" %}
{% block content %}

<main>


    <div class="parallax1" id="parallax1">
        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo" class="logo"
</div>
    <div class="tagline">
         <ul>
            <li>poltical consulting</li>
            <li>|</li>
            <li>data analytics</li>
            <li>|</li>
            <li>direct mail</li>
        </ul>

        </div>
    <div class="box1" id="box1">
        <div class="first-line">
            <h1>
                CHANGE IS LOCAL.
                <br>
                POLITICS ARE LOCAL.
            </h1>

            <br>
            <br>
        </div>
            <h3>
                Don't be outpriced running for local or state office. That's where the work <b>really matters.</b>
            </h3>
    </div>

    <div class="parallax-2" id="parallax2"></div>

    <div class="about-us">
        <div class="line1">
            
            <img src="{{ url_for('static', filename='img/white-top.svg') }}" alt="wite-top" class="white-top">

            <h3>
                At Haynie Analytics, we provide a crash-course to the basics, and a whole lot more . . .
            </h3>

        </div>
            <br>
        <div class="about-text">
            <p>
            Our experience ranges across every level of political campaigning. What we've found is that the 
            basics are the basics. Sure, there's a differnce in running for school board and running for Congress. 
            But whatever the race, there are tried-and-true objectives that either move you closer to your goal, 
            or further from it. Let us elimante the guess work. 
            </p>
        </div>
        <div class="learn-more-text">
            <h3>We bring top-tier consulting to every campaign budget.
            </h3>
        </div>
        <div class="learn-more-color">
            <button class="learn-more-button">
                LEARN MORE
            </button>
        </div>
        

    </div>

    <div class="options">
        <!-- <div class="learn-more option">
            
        </div>
        <div class="explore option">
            <div class="explore-color">
                <button class="explore-button">
                    EXPLORE
                </button>
            </div>
            <div class="explore-text">
                <h3>Where do top campaigns focus their efforts?
                </h3>
            </div>
        </div> -->
        <div class="data option">
            <div class="data-text">
                <h3>Let's explore the data.</h3>
                <h1>
                    Where are<br>top campaigns<br>focusing<br>their efforts?
                </h1>
            </div>
            <!-- <div class="shoutout-color">
                <button class="shoutout-button">
                    SHOUTOUT!
                </button>
            </div> -->
        </div>


    </div>


</main>

<footer>
    <p> <b>HAYNIE ANALYTCS, LLC </b> <br>Site created inhouse</p>
</footer>

{% endblock %}