{% extends "parent.html" %}
{% block content %}

<main>


    <div class="parallax1" id="parallax1"></div>
        <div class="tagline">
            <ul>
                <li>poltical consulting</li>
                <li>|</li>
                <li>data analytics</li>
                <li>|</li>
                <li>direct mail</li>
            </ul>

        </div>
    <div class="box1" id="box1">
    
        <h2>Change is local. Politics are local.</h2>
        <br>
        <h3>Don't be outpriced running for local and state office. <b>That's where the work really matters.</b></h3>.
        <br>
        <h1>We offer top tier consulting to every campaign budget.</h1>
        <br>
        <h2>How Can We Help?</h2>

    </div>


    <div class="parallax-2" id="parallax2"></div>


</main>

<footer>
    <p> <b>HAYNIE ANALYTCS, LLC </b> <br>Site created inhouse</p>
</footer>

{% endblock %}