{% extends "parent.html" %}
{% block content %}

<main>
    <div class="container">
        <div style="display:block"class="scroll-down" id="scroll-down"></div>
    </div>

    <div class="parallax1" id="parallax1">
        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo" class="logo"
</div>
    <div class="tagline">
         <ul>
            <li>poltical consulting</li>
            <li>|</li>
            <li>data analytics</li>
            <li>|</li>
            <li>direct mail</li>
        </ul>

        </div>
    <div class="box1" id="box1">
        <div class="first-line">
            <h1>
                CHANGE IS LOCAL.
                <br>
                POLITICS ARE LOCAL.
            </h1>

            <br>
            <br>
        </div>
            <h3>
                Don't be outpriced running for local or state office. That's where the work <b>really matters.</b>
            </h3>
    </div>

    <div class="parallax-2" id="parallax2"></div>

    <div class="about-us">
        <div class="line1">
            
            <img src="{{ url_for('static', filename='img/white-top.svg') }}" alt="wite-top" class="white-top">

            <h3>
                At Haynie Analytics, we provide a crash-course in the basics, and a whole lot more . . .
            </h3>

        </div>
            <br>
        <div class="about-text">
            <p>
            Our experience ranges across every level of political campaigning. What we've found is that the 
            basics are the basics. Sure, there's a difference in running for school board and running for Congress. 
            But whatever the race, there are tried-and-true objectives that either move you closer to your goal, 
            or further from it. Let us eliminate the guess work for you. 
            </p>
        </div>
        <div class="learn-more-text">
            <h3>We bring top-tier consulting to every campaign budget.
            </h3>
        </div>
        <div class="learn-more-color">
            <button class="learn-more-button">
                View Our Work
            </button>
        </div>
        

    </div>

    <div class="data option">
        <div class="data-text">
            <h3>Let's explore the data.</h3>
            <h1>
                Where are<br>top campaigns<br>focusing<br>their efforts?
            </h1>

            <p class="data-descript">
                The following graphs utilize data from the Federal Elections Commission API, focusing on the top 15 most expensive US Senate races of 2018.
            </p>

        </div>
        <div class="graphing-side">
            <div class="graphing">
                <p>data here.</p> 
            </div>
            <p class="graph-disclaim">
                If you're running for local office, your breakdown will look quite different. But your basics wont. You're establishing a brand, you're crafting a message, and you're reaching voters.
            </p>
        </div>
    </div>
    
    <div class="shoutout option">
        <div class="shoutout-text">
            <h3>
                Here's to You.
            </h3>
            <h1>
                Shoutout to<br>the progressives<br>putting in the work.  
            </h1>
            <button class="shoutout-button">
                SHOUTOUT
            </button>
            
        </div>


    </div>


        


</main>

<footer>
    <p> <b>HAYNIE ANALYTCS, LLC </b> <br>Site created inhouse</p>
</footer>

{% endblock %}