{% extends "parent.html" %}
{% block content %}




<div class="work-document">
        <main>
            <div class="above-all">
                <h1> </h1>
            </div>



            <!--============================== WORK OVERVIEW=================== -->
            <div class="work-left-panel">
                <div class="title-work">
                    <img src="/static/img/black-top.svg" alt="" class="black-top-work">
                    <h1>Our Work</h1>
                    <!-- <img src="/static/img/white-top.svg" alt="" class="white-top-work"> -->
                </div>
            </div>




            <div class="work-overview">

                

                <div class="description">
                    
                        <br>
                        <p class="work-first-par">
                            It’s easy to feel overwhelmed thinking about all the little things you need to accomplish between now and election day,
                            <b>so let’s stick to the broad strokes:</b>
                        </p>

                            <!-- <h3>
                                What are your most important objectives?
                            </h3> -->
                            <!-- <p class="two-ways">
                                And by the way, we work two ways: All-In and A La Carte.
                                
                                So look at this overview as either a package deal, or a full-on menu.
                            </p>
                            <br> -->

                        <!-- <h2 class="work-questions">
                            What is bringing in dollars and what isn't? What is establishing presence and what isn't? What is winning votes and what isn't?
                            <br>
                        </h2> -->
                        <!-- <ul class="work-descript">
                            <li>What is bringing in dollars and what isn't?</li>
                            <li>What is establishing presence and what isn't?</li>
                            <li>What is winning votes and what isn't?</li>

                        </ul>

                        <h3>    
                            Here’s the most zoomed out overview of what we can offer you.
                        </h3> -->
                </div>
                <br>
                <!-- <div class="icon-container" id="icon-container">
                        
                                <div class="icon-table">
                                    
                                    <div class="row">
                                        <div class="col">
                                            <div class="gc-icon" id="gc-icon">
                                                <img class="icons" src="static/img/icons/gc-icon.svg"></img>
                                                <h3>General<br>Consulting</h3>
                                                
                                            </div>
                                        </div>
                                        <div class="col brand-icon" id="brand-icon">
                                            <img class="icons" src="static/img/icons/brand-icon.svg"></img>
                                            <h3>Brand<br>Development</h3>
                                            
                                        </div>
                                        <div class="col mail-icon">
                                            <img class="icons" src="static/img/icons/mail-icon.svg"></img>
                                            <h3>Direct<br>Mail</h3>
                                            
                                        </div>
                                    </div>
                                </div>
                        </div>  -->
                    

                </div>
                

    <!-- =========================END OVERVIEW SECTION============================
    =============================================================== -->

    <!--  =============================Gen Con Window======================= -->

    <div class="gencon-full" id="gencon-full" style="display: none">

    <div class="section-header">
                <div class="section-header-content">
                    <h1>General Services</h1>
                </div>
            </div>

            <div class="icon-container">
                <div class="icon-inner text-center">
                
                        <div class="icon-table">
                            
                            <div class="row">
                                <div class="col">
                                    <div class="icon-window">
                                        <img class="icons" src="static/img/icons/direct-icon.svg"></img>
                                        <h3>Campaign Planning<br>And Directing</h3>
                                        <p class="description">No matter what you are running for, the basics are the basics. Our experience ranges from nonprofit work to presidential races. We'll cut out the guess work.</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <img class="icons" src="static/img/icons/fundraising-icon.svg"></img>
                                    <h3>Fundraising Consulting<br>And Compliance Reporting</h3>
                                    <p class="description">Like anything, there's a right way to raise money, and there are a whole lot of wrong ways. We'll show you the ropes.</p>
                                </div>
                            </div> 
                        </div> 

                        <div class="icon-table">
                            <div class="row">
                                <div class="col">
                                    <img class="icons" src="static/img/icons/target-icon.svg"></img>
                                    <h3>Voter Targeting</h3>
                                    <p class="description">Here's the bread and butter of what we do. Who should you be talking to and what should you tell them? These decisions will inform every element of your race.</p>
                                </div>
                                <div class="col">
                                    
                                    <img class="icons" src="static/img/icons/mail-icon.svg"></img>
                                    <h3>Direct Mail</h3>
                                </div>
                            </div>
                        </div>
                        <div class="icon-table">
                            <div class="row">
                                <div class="col">
                                    <img class="icons" src="static/img/icons/brand-icon.svg"></img>
                                    <h3>Brand and Web<br>Development</h3>
                                </div>
                                <div class="col">
                                    <img class="icons" src="static/img/icons/metrics-icon.svg"></img>
                                    <h3>Metrics Tracking<br>And Analysis</h3>
                                    <p class="description">Efficiency is key. Progress reporting is key. You don't know how far you have to go if you don't know how far you've gone.</p>
                                </div>
                                
                            </div>
                        </div>

                </div>
            </div>



    </div>













            
    <!-- =============================BRANDING Window======================= --> 
    <div class="branding-full" id="branding-full" style="display: none">
    <div class="section-header">
                <div class="section-header-content">
                    <h1>Here's some branding we've done</h1>
                </div>
            </div>


            <div class="carousel-container">
                <div class="carousel">
                    <button class="carousel__button--left is-hidden">
                        <img src="static/img/portfolio/left-arrow.svg">
                    </button>
                    <div class="carousel__track-container">
                        <ul class="carousel__track">
                            <li class="carousel__slide current-slide">
                                <img src="{{ url_for('static', filename='img/portfolio/logo-york2.png')}}" class="brand-dev-images">
                            </li>
                            <li class="carousel__slide">
                                <img src="{{ url_for('static', filename='img/portfolio/logo-afton.png')}}" class="brand-dev-images">
                            </li>
                            <li class="carousel__slide">
                                <img src="{{ url_for('static', filename='img/portfolio/logo-victor-01.png')}}" class="brand-dev-images">
                            </li>
                            <li class="carousel__slide">
                                <img src="{{ url_for('static', filename='img/portfolio/logo-york1.png')}}" class="brand-dev-images">
                            </li>
                            <li class="carousel__slide">
                                <img src="{{ url_for('static', filename='img/portfolio/afton-shirt.png')}}" class="brand-dev-images">
                            </li>
                        </ul>
                    </div>
                    <button class="carousel__button--right">
                        <img src="static/img/portfolio/right-arrow.svg">
                    </button>
                    <div class="carousel__nav">
                        <button class="carousel__indicator current-slide"></button>
                        <button class="carousel__indicator"></button>
                        <button class="carousel__indicator"></button>
                        <button class="carousel__indicator"></button>
                        <button class="carousel__indicator"></button>
                    </div>
                </div>
            </div>




        </div> 


        <div class="mail-container">
            <div class="mail-window">
                <div class="mail-font">
                    
                </div>
                <div class="mail-back">
                   
                </div>
            </div>




        </div>
</div>

    </main>

</body>
</html>

{% endblock %}