{% extends "parent.html" %}
{% block content %}



<main>
<div class="work-document">
        
            <div class="above-all">
                <h1> </h1>
            </div>



            <!--============================== WORK OVERVIEW=================== -->
            <div class="work-left-panel">
                <div class="title-work">
                    <!-- <img src="/static/img/black-top.svg" alt="" class="black-top-work"> -->
                    <h1>OUR WORK</h1>
                    <!-- <img src="/static/img/white-top.svg" alt="" class="white-top-work"> -->
                </div>
            </div>




            <div class="work-overview">

                

                <div class="description">
                    
                        <br>
                        <p class="work-first-par">
                            It’s easy to feel overwhelmed thinking of all the little things you need to accomplish between now and election day.
                            <b>Here’s the broad strokes of how we can help:</b>
                        </p>

                           
                </div>
                <br>

                <div class="work-selection">

                    <div class="selector-container" id="selector-container">
                            
                                    <div class="icon-table">
                                        
                                        <div class="row">
                                            <div class="col">
                                                <div class="choice-icon" id="gc-icon">
                                                    <img class="header-icons" src="static/img/icons/gc-icon.svg"></img>
                                                    <h3>General<br>Consulting</h3>
                                                    
                                                </div>
                                            </div>
                                            <div class="col choice-icon" id="brand-icon">
                                                <img class="header-icons" src="static/img/icons/brand-icon.svg"></img>
                                                <h3>Brand<br>Development</h3>
                                                
                                            </div>
                                            <div class="col choice-icon">
                                                <img class="header-icons" src="static/img/icons/mail-icon.svg"></img>
                                                <h3>Direct<br>Mail</h3>
                                                
                                            </div>
                                        </div>
                                    </div>
                        </div> 
                </div>   

            </div>
                

    <!-- =========================END OVERVIEW SECTION============================
    =============================================================== -->

    <!--  =============================Gen Con Window======================= -->

    <div class="gencon work-category" id="gencon-full" style="display: none">

    <div class="section-header">
                <div class="section-header-content">
                    <h1>General Consulting</h1>
                </div>
            </div>

            <div class="sub-section">
                <div class="row">
                    <div class="col">
                        <h3>
                            What is bringing in dollars, and what isn't?
                        </h3>
                        <h3>
                            What is establishing presence, and what isn't?
                        </h3>
                        <h3>
                            What is winning votes, and what isn't?
                        </h3>
                    </div>
                    <div class="col">
                        <button class="pick-again" id="pick-again">
                            PICK<br>AGAIN
                        </button>
                    </div>
                    <p>
                        General Consulting is our bread and butter. We’re in the campaign business because we like running campaigns. If you want us along for the ride for every decision you make, consider the following overview a package deal. If you’d rather pick and choose, look at it as a menu.
                    </p>
                </div>

            </div>

            


            <div class="gc-icons">
                <!-- <div class="icon-inner text-center"> -->
                
                        <div class="icon-table">
                            
                            <div class="row">
                                <div class="col">
                                        <div class="bulb-hover" id="bulb-hover" onmouseover="showBulbCard()" onmouseout ="hideBulbCard()">
                                            <img class="icons" src="static/img/icons/bulb-icon.svg"></img>
                                            <h3>CAMPAIGN<br>PLANNING</h3>
                                        </div>
                                        <div class="bulb-up-arrow" id="bulb-up-arrow"  onmouseover="showBulbCard()" onmouseout ="hideBulbCard()"></div>
                                        <div class="bulb-card" id="bulb-card" >
                                            <p>
                                                Let's map out your race from right now until E-day. Having a good idea of what you need to accomplish when is crucial to a well-oiled operation.
                                            </p>
                                        </div>
                                </div>
                                <div class="col">
                                    <div class="direct-hover" id="direct-hover" onmouseover="showDirectCard()" onmouseout ="hideDirectCard()">
                                        <img class="icons" src="static/img/icons/directing-icon.svg"></img>
                                        <h3>CAMPAIGN<br>DIRECTING</h3>
                                    </div>
                                        <div class="direct-up-arrow" id="direct-up-arrow"  onmouseover="showDirectCard()" onmouseout ="hideDirectCard()"></div>
                                        <div class="direct-card" id="direct-card" >
                                                <p>
                                                    Campaign directing is exactly what it sounds like. It means stearing the ship, day-in and out. 
                                                </p>
                                        </div>
                                </div>
                                <div class="col">
                                    <div class="finance-hover" id="finance-hover" onmouseover="showFinanceCard()" onmouseout ="hideFinanceCard()">
                                        <img class="icons" src="static/img/icons/finance-icon.svg"></img>
                                        <h3>FINANCE &<br>FUNDRAISING</h3>
                                    </div>
                                    <div class="finance-up-arrow" id="finance-up-arrow"  onmouseover="showFinanceCard()" onmouseout ="hideFinanceCard()"></div>
                                    <div class="finance-card" id="finance-card" >
                                            <p>
                                                Fundraising, in almost every campaign, is both the yatta yatta Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias repudiandae.
                                            </p>
                                    </div>
                                </div>
                                <div class="col">
                                    <img class="icons" src="static/img/icons/compliance-icon.svg"></img>
                                    <h3>COMPLIANCE<br>REPORTING</h3>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col">
                                        <img class="icons" src="static/img/icons/target-icon.svg"></img>
                                        <h3>VOTER<br>TARGETING</h3>
                                </div>
                                <div class="col">
                                    <img class="icons" src="static/img/icons/metrics-icon.svg"></img>
                                    <h3>METICS &<br>ANALYSIS</h3>
                            </div>
                                <div class="col">
                                    <img class="icons" src="static/img/icons/social-icon.svg"></img>
                                    <h3>DIGITAL MEDIA<br>MANAGEMENT</h3>
                                </div>
                                <div class="col">
                                    <img class="icons" src="static/img/icons/gotv-icon.svg"></img>
                                    <h3>GET OUT<br>THE VOTE</h3>
                                </div>
                            </div> 
                        </div> 

            
            </div>



    </div>













            
    <!-- =============================BRANDING Window======================= --> 
    <div class="branding-full" id="branding-full" style="display: none">
    <div class="section-header">
                <div class="section-header-content">
                    <h1>Here's some branding we've done</h1>
                </div>
            </div>


            <div class="carousel-container">
                <div class="carousel">
                    <button class="carousel__button--left is-hidden">
                        <img src="static/img/portfolio/left-arrow.svg">
                    </button>
                    <div class="carousel__track-container">
                        <ul class="carousel__track">
                            <li class="carousel__slide current-slide">
                                <img src="{{ url_for('static', filename='img/portfolio/logo-york2.png')}}" class="brand-dev-images">
                            </li>
                            <li class="carousel__slide">
                                <img src="{{ url_for('static', filename='img/portfolio/logo-afton.png')}}" class="brand-dev-images">
                            </li>
                            <li class="carousel__slide">
                                <img src="{{ url_for('static', filename='img/portfolio/logo-victor-01.png')}}" class="brand-dev-images">
                            </li>
                            <li class="carousel__slide">
                                <img src="{{ url_for('static', filename='img/portfolio/logo-york1.png')}}" class="brand-dev-images">
                            </li>
                            <li class="carousel__slide">
                                <img src="{{ url_for('static', filename='img/portfolio/afton-shirt.png')}}" class="brand-dev-images">
                            </li>
                        </ul>
                    </div>
                    <button class="carousel__button--right">
                        <img src="static/img/portfolio/right-arrow.svg">
                    </button>
                    <div class="carousel__nav">
                        <button class="carousel__indicator current-slide"></button>
                        <button class="carousel__indicator"></button>
                        <button class="carousel__indicator"></button>
                        <button class="carousel__indicator"></button>
                        <button class="carousel__indicator"></button>
                    </div>
                </div>
            </div>




        </div> 

    <div class="branding-full" id="mail-full" style="display: none">

    </div>



        </div>
</div>

</main>

</body>
</html>

{% endblock %}