* {
	font-family: Oswald;
	padding: 0;
	margin: 0;
}


p {
	font-weight: 200;
}

body {
	/* width: 100vw; */
}


  
header {
	position: fixed;
	top: 0px;
    width: 100vw;
    height: 50px;
    background-color: #f1f8f0;
	color: white;
	z-index: 999999;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
	transition: background 250ms ease-in-out;
	

}

.scrolled {
	background: #282828;
	height: 45px;
	transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
	transition: background 250ms ease-in-out;
	color: white;

}






.contact {
	border: 1.5px solid #282828;
	border-radius: 2em;
	float: left;
	/*margin: .5em;*/
	transition: background 250ms ease-in-out;
	letter-spacing: 1px;
	padding: .25em 1em;
	background: #ffffff;
	color: #282828;
	margin-top: 5px;
	margin-left: 20px;
	outline: white;
}

.contact:hover {
	background: #282828;
	color: white;
	border: #282828;
}


.scrolledButton {
	background: #282828;
	height: 45px;
	border: 1.5px solid white;
	transition: background 250ms ease-in-out;
	color: white;

}



/*====================================================
===============NAV BAR==================================*/



.site-nav {
	position: absolute;
	float: right;
	top: 100%;
	background-color: #3d3d3d;
	/* margin-right:2000px; */
	height: 0px;
    overflow: hidden;
	z-index: 999;

}

.site-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-nav li {
    text-transform: uppercase;
	display: inline-block;
	width: 18%;
	text-align: center;


}




nav a {
    color: white;
    text-decoration: none;
    display: block;
	padding: .5em .5em;
}


.menu-toggle {
	padding: 1em;
	float: right;
	margin-right: 20px;
	margin-top: 7px;
	cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	content: '';
	display: block;
	background: #282828;
	height: 3px; 
	width: 1.75em;
	border-radius: 2px;
	transition: all ease-in-out 300ms;
}

.burgerScroll {
	background: white;
	color: white;
}



.hamburger::before {
	transform: translateY(-6px);
}

.hamburger::after {
	transform: translateY(3px);
}


.nav-open {
	height: auto;
	width: 100vw;
	transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
}


.open .hamburger {
	transform: rotate(45deg);
	border-radius: 2px;

}

.open .hamburger::before {
	opacity: 0;
	transition: opacity 0ms;
}

.open .hamburger::after {
	transform: translateY(-3px) rotate(-90deg);
	border-radius: 2px;
}


nav a:hover {
    color:black;
    text-decoration: none;
	background-color: #f2f9f1;
}


.alt_logo {
	margin-left: 130px;
	margin-top: 12px;
	color: #white;

}

 /*=====================================================
 =====================END NAV BAR BEGIN SCROLL BUTTON====================*/

.scroll-down {
	height: 0px;
	width: 0px;
	border: 0px solid #f2f9f1;
	border-radius: 75px;
	cursor: pointer;
	position: absolute;
	right: 5%;
	top: 40vh;
	background: rgba(255, 255, 255, .4);
	transition: opacity 500ms;
	overflow: hidden;

}
.scroll-down::before,
.scroll-down::after {
	content: '';
	position: absolute;
	top: 20%;
	left:50%;
	border: 2px solid #f2f9f1;
	height: 20px;
	width: 0px;
	transform: translate(-50%, -50%) rotate(45deg);
	border-top: transparent;
	border-left: transparent;
	animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after {
	top: 35%;
	animation-delay: .3s;
	width: 0px;
}

@keyframes scroll-down {
	0%{
		opacity: 0;
	}
	30%{
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: .2;
	}
	90% {
		opacity: 0;
		top: 90%;
	}
	100% {
		opacity: 0;
		top: 90%;
	}
}


/*================================================
======================PARALLAX==========================*/




.parallax1 {
	background-image: url('/static/img/nyc-background.jpg');
	background-attachment: fixed;
	top: 0;
	/* background-size: 100vw; */
    background-size: cover; 
	background-repeat: no-repeat;
	z-index: -1;

	
	
}


.logo {
	display: block;
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40%;
	padding-top: 10vh;
}


.tagline {
	height: 10px;
	color: #f2f9f1;
	font-family: Rubik;
	text-transform: uppercase;
	background-color: rgba(0,0,0,0);
	background-size: 100vw;
	background-repeat: no-repeat;
	text-align: center;
	margin-top: 100px;
	margin: -25% 10px 50px 10px;
	/* margin-bottom: 70px; */
	transform-origin: top left;
	transform: skewY(-7deg);
}	




.tagline ul {
	list-style: none;
	margin: 0 20px;

}

.tagline li {
	display: inline;
	padding: 0 5px;
	font-size: 4vw;
	margin-bottom: 1px;
	/*text-shadow: 4px 4px rgba(0,0,0,.2);*/
	opacity: 1;
	text-shadow: 0 3px 20px rgba(0, 0, 0, 0.8);
	;

}





/*================================================
======================CHANGE IS LOCAL==========================*/



.box1 {
	height: 600px;
	width: 100%;
	position: relative;
	/* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4); */
	color: #282828;
	background: #f2f9f1;
	z-index: 1;
	padding: 20px;
	/* border-bottom: solid white 10px; */
}

.box1:after {
	position: absolute;
	background: inherit;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: top left;
	transform: skewY(-7deg);
	content: '';
	z-index: -1;
}

/* .first-line {
	display: grid;
	margin-top: 1%;
	margin-bottom: 10px; */

/* } */


.first-line h1 {
	margin-top: 40px;
	font-size: 5em;
	letter-spacing: 5px;
	padding-left: 5%;
	/* grid-column: 1/3; */

}

.box1 h3 {
	font-weight: 200;
	padding-left: 5%;
	/* text-align: center; */
	margin-top: 15px;
	font-size: 40px;
	width: 90%;
}




/*================================================
======================ABOUT-US==========================*/

.about-us {
	height: 500px;
	width: 100vw;
	background:#282828;
	color: white;
	border: solid #282828 5px;


	/* MOBILE NO MARGIN================= */
	/* margin-top: 200px; */
}


.about-text {
	
	width: 85%;
	margin-top: 5%;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 0;
	padding: 10px;

}

.about-us p {
	font-size: 125%;
	margin-top: -5%;
	text-align: justify;
}


.line1 {
	/* float: right; */
	display: grid;
	margin: 40px 40px 0 40px;
}

.line1 h3 {
	grid-column: 3/3;
	width: 75%;
	margin-left: 4vw;
	margin-top: 4%;
	/* text-align: right; */
	font-size: 200%;
}

.white-top {
	height: 80px;
	/* margin-top: 2%; */
	grid-column: 1/3;
	/* margin-left: 20%; */
	margin-left: 7vw;
	margin-top: 4vh;
	
}

.learn-more-text h3 {
	float: left;
	margin-left: 8vw;
	margin-top: 32px;
	font-size: 200%;
	/* font-weight: 200; */
}

.learn-more-button {
	background: #f1f8f0;
	border: solid #282828;
	color: #282828;
	text-align: center;
	padding: 10px 30px;
	float: right;
	margin-right: 11vw;
	margin-top: 27px;
	font-size: 25px;
	transition: background 250ms ease-in-out;
	transition: color 250ms ease-in-out;
	transition: border 250ms ease-in-out;
}




/*================================================
======================OPTIONS==========================*/

.options {
	height: 450px;
	padding: 0;
	margin-top: -5px;
	margin-bottom: 5px;



}

.option {
	height: 400px;
	/* border-bottom: solid white 5px; */
	padding: 40px;
	/* border-top: solid white 5px; */
	z-index: 1;
	background-color: white;

}

.learn-more, .explore, .data {
	position: relative;

}

.learn-more:after, .data:after {
	position: absolute;
	transform-origin: bottom left;
	transform: skewX(-11deg);
	background-color: #e06d3f;
	height: 100%;
	width: 65%;
	Top: 0;
	right: 0;
	bottom: 0;
	content: '';
	z-index: -1;


}

.explore:after {
	position: absolute;
	transform-origin: bottom right;
	transform: skewX(-11deg);
	background-color: #00b8ff;
	height: 100%;
	width: 45%;
	Top: 0;
	left: 0;
	bottom: 0;
	content: '';
	z-index: -1;
	box-shadow: 0 20px 0px rgba(0, 0, 0, 0.4);


}




.data h3 {
	/* float: left; */
	margin-left: 10px;
	margin-top: 15px;
	font-size: 200%;
	/* font-weight: 200; */
}

.data h1{
	margin-left: 10px;
	margin-top: 15px;
	font-weight: 200;
}



.explore h3 {
	float: right;
	margin-left: 10px;
	margin-top: 10px;
	font-weight: 200;
}

 
.data-button {
	background: #f1f8f0;
	border: solid #282828;
	color: #282828;
	text-align: center;
	padding: 10px 50px;
	float: right;
	margin-right: 40px;
	font-size: 25px;
	transition: background 250ms ease-in-out;
	transition: color 250ms ease-in-out;
	transition: border 250ms ease-in-out;
}




.explore-button {
	background: #f1f8f0;
	border: solid #282828;
	color: #282828;
	text-align: center;
	padding: 10px 50px;
	float: left;
	margin-left: 40px;
	font-size: 25px;
	transition: background 250ms ease-in-out;
	transition: color 250ms ease-in-out;
	transition: border 250ms ease-in-out;
}


.learn-more-button:hover,
.explore-button:hover,
.data-button:hover {
	background: #282828;
	border: solid #f1f8f0;
	color: #f1f8f0;
}



















footer {
	display: none;
	height: 60px;
	background: #f1f8f0;
	background-size: 100vw;
	color: #282828;
	padding: 5px;
	position: fixed;
	border-top: 3px solid white;
	margin-top: -5px;
	/* position: fixed; */
	z-index: 15;
}

footer p {
	float: right;
	margin-right: 20px;
	text-align: right;
}




/*=====================================================================
================================CAMPAIGN WORK PAGE================================
========================================================================================
==========================================================================================*/

.work-document {
	background-image: url("static/img/murral-vertical-01.png");
	background-repeat: no-repeat;
	background-size: 100vw;
	background-attachment: fixed;

}


/*================================
================HERO===================*/

.campaign-hero-container {
	/*background-image: url("img/murral-vertical.pmg");*/
	background-size: 100vh;	
}



.campaign-hero {
	/*padding: 40px;*/
	text-align: right;
	
	margin-top: 70px;
	right:0;
	
	position: fixed;
	z-index: 1;
	
}

.campaign-hero h1 {
	font-weight: 200;
	padding-bottom: 5px;
	height: 55px;
	width: 215px;
	margin-bottom: 25px;
	background-color:rgba(255, 255, 255);
	/*box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);*/
	right: 0px;
	/*padding-right: 15px;*/
	text-align: center;

}

.campaign-hero h3 {
	font-weight: 200;
	font-size: 22px;
	/*margin-left: 25px;*/
	padding-bottom: 5px;
	margin-bottom: 15px;
	right: 0;
	padding-right: 15px;
	background-color:rgba(255, 255, 255);
	text-align: center;
	/*box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);*/
	
}


.campaign-hero a {
	color: #282828;
}

.campaign-hero a:hover {
    text-decoration: none;
	color: limegreen;
	background-color: #282828;
}


/*==================================
=================Section headers ===========*/

.section-header {
	height: 80px;
	width:80vw;
}
.section-header-content {
	background-color: rgba(44, 88, 168, 1);
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
	width: 75%;
	margin: 0 auto;
	text-align: center;
}

.section-header h1 {
	/*margin-left: 15%;*/
	padding: 5px;
	color: white;
}






/*==================================
=================Work Overview====================*/



.work-overview {
	height: 800px;
	width: 80vw;
	margin-top: 10px;


}


.overview-inner {
	height: 600px;
	width: 75%;
	padding: 20px;
	background-color:rgba(255, 255, 255, .5);
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
	margin: 0 auto;
	position: relative;

}





/*==================================
=================ICONS====================*/



.above-all {
	content: '';
	height:10px;
	margin-bottom: 100px;
}

.icon-container {
	height: 1200px;
	width: 80vw;
}
.icon-inner {
	height: 1000px;
	width: 75%;
	/*padding: 20px;*/
	background-color:rgba(255, 255, 255, .5);
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
	margin: 0 auto;
	position: relative;

}


.row {
	margin: 30px;
} 



.icon-table .col {
		/*margin-bottom: -850px;*/

}


.icon-table {
	
	height: 275px;
	width: 75vw;
	

} 



.icon-table .row {
	margin-left: -70px;
	margin-right: 120px;
	padding: 20px;
 }

.description {
	width: 75%;
	margin-left: 50px;
}



.icons {
	height: 100px;


}

.icon-description {
	padding-left: 100px;
	/*margin-left: 100px;*/
}





/*======================================
=====================Brand Elements========= */

.carousel-container {
	height: 900px;
	width: 80vw;
}



.carousel {
	/*top: 400PX;*/
	position: relative;
	height: 700px;
	width: 75%;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, .5);
	padding: 40px;
	/*margin-bottom: 100px;*/
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
}

.brand-dev-images {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.carousel__track-container {
	position: relative;
	height:100%;
	width: 100%;
	overflow: hidden;
}

.carousel__track {
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	height: 100%;
	transition: transform 350ms ease-in;


}

.carousel__slide {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	object-fit: cover;
	
}

.carousel__button--left {
	position: absolute;
	left: -60px;
	top: 50%;
	width: 15px;
	transform: translateY(-50%);
	background-color: transparent;
	border: 0;

	
}

.carousel__button--right  {
	position: absolute;
	right: -60px;
	top: 50%;
	width: 15px;
	transform: translateY(-50%);
	background-color: transparent;
	border: 0;

	
}


.carousel__button--right:focus {
	outline: none;
}

.carousel__button--left:focus {
	outline: none;
}


.carousel__nav {
/*	background: pink;
*/	display: flex;
	justify-content: center;
	padding: 10px 0;
}

.carousel__indicator {
	border: 0;
	border-radius: 50px;
	width: 15px;
	height: 15px;
	background: #282828;
	margin: 0 10px;
	cursor: pointer;
}



.carousel__indicator:focus {
	border: none;
	outline: none;
}


.carousel__indicator.current-slide {
	background-color: rgba(44, 88, 168, 1);
}


.is-hidden {
	display: none;
}


/*==========================END CAROUSEL
===============================================*/
.below-carousel {
	height: 1600px;
	top: 1400px;
}






@media (min-width: 900px) {
	.parallax1 {
		background-position: fixed;
	}
	.tagline {
		margin: -10% 10px 70px 10px;
		/* white-space: nowrap; */

	}

	.tagline ul {
		/* display: block; */
	}

	.tagline li {
		/* font-size: 4vw; */
	}

	.logo {
	display: block;
	margin-bottom: 25%;
	padding-top: 18vh;


	width: 25%;
	margin-left: 10vw;
	margin-right: auto;

	 }
	 
	 .scroll-down {
		 height: 80px;
		 width: 35px;
		 border: 2px solid #f2f9f1;

	 }

	.scroll-down::before,
	.scroll-down::after {
	width: 20px;
}

	.black-top {
		height: 125px;
	}

	.first-line {
		margin-top: 5%;
		margin-bottom: 40px;
	}

	.box1 h3 {
		margin-top: 40px;
	}


}

